<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(function() {
        // jQuery를 사용하지 않을때:
        // document.addEventListener("DOMContentLoaded", function () {
            $("#listBtn").click(function() {
            // jQuery를 사용하지 않을때:
            // document.getElementById("listBtn").addEventListener("click", function () {
                fetch("/boards", {
                    method: "GET",
                    headers: {
                        "Accept": "application/json", // 응답 받을 자료의 유형을 서버에 요청
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("네트워크 응답이 올바르지 않습니다.");
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        alert("게시판 목록을 성공적으로 가져왔습니다.");
                    })
                    .catch(error => {
                        console.error("오류 발생:", error);
                        alert("목록을 가져오는 데 실패했습니다. 콘솔을 확인해주세요.");
                    });
            });
            $("#readBtn").click(function() {
                fetch("/boards/"+$("#id").val(), {
                    method: "GET",
                    headers: {
                        "Accept": "application/json",
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("네트워크 응답이 올바르지 않습니다.");
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        alert("게시글을 성공적으로 가져왔습니다.");
                    })
                    .catch(error => {
                        console.error("오류 발생:", error);
                        alert("게시글을 가져오는 데 실패했습니다. 콘솔을 확인해주세요.");
                    });
            });
            $("#addBtn").on("click", function() {
                const board= {
                    title: $("#title").val(),
                    content: $("#content").val(),
                    writer: $("#writer").val(),
                };
                fetch("/boards", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json", // 요청(보내는) 자료의 유형
                        "Accept": "application/json"
                    },
                    body: JSON.stringify(board)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("서버 응답이 올바르지 않습니다");
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("서버 응답:", data);
                        alert(data.message);
                    })
                    .catch(error => {
                        console.error("오류 발생:", error);
                        alert("게시글 정보 저장에 실패했습니다. 콘솔을 확인해주세요.");
                    });
            });
            $("#deleteBtn").on("click", function() {
                const idVal = $("#id").val();
                console.log(idVal);
                fetch("/boards/"+idVal, {
                    method: "DELETE",
                    headers: {
                        "Accept": "text/plain"
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            if (response.status === 404) {
                                throw new Error("게시글을 찾을 수 없습니다.");
                            }
                            throw new Error("서버 응답이 올바르지 않습니다");
                        }
                        return response.text();
                    })
                    .then(data => {
                        console.log("삭제 완료:", data);
                        alert(`게시글 성공적으로 삭제되었습니다.`);
                    })
                    .catch(error => {
                        console.error("오류 발생:", error);
                        alert(`게시글 삭제에 실패했습니다: ${error.message}`);
                    });
            });
            $("#putBtn").on("click", function() {
                const idVal = $("#id").val();
                const board= {
                    id: idVal,
                    title: $("#title").val(),
                    content: $("#content").val(),
                    writer: $("#writer").val(),
                };
                fetch("/boards/"+idVal, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    body: JSON.stringify(board)
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("서버 응답이 올바르지 않습니다");
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("서버 응답:", data);
                        alert(data.message);
                    })
                    .catch(error => {
                        console.error("오류 발생:", error);
                        alert("게시글 정보 저장에 실패했습니다. 콘솔을 확인해주세요.");
                    });
            });
        });
    </script>
</head>
<body>
<h1>Fetch Home</h1>
<form>
    <label for="id">id: </label>
    <input type="text" name="id" th:value="${board.id}" id="id"/><br>
    <label for="title">title: </label><input type="text" name="title" th:value="${board.title}" id="title"/><br>
    <label for="content">content: </label><input type="text" name="content" th:value="${board.content}"
                                                 id="content"/><br>
    <label for="writer">writer: </label><input type="text" name="writer" th:value="${board.writer}" id="writer"/><br>
</form>

<div>
    <button id="listBtn">List</button>
    <button id="readBtn">Read</button>
    <button id="addBtn">Register</button>
    <button id="deleteBtn">Delete</button>
    <button id="putBtn">Modify</button>
</div>
</body>
</html>