<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<script th:src="@{/js/jquery.min.js}"></script>

<script type="text/javascript">
    const baseUrl = "http://localhost:8080/members";
    $(function () {
        $("#registerBtn01").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");

            const userIdVal = userId.val();
            const passwordVal = password.val();

            const userObject = {
                userId: userIdVal,
                password: passwordVal
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register01",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                }
            });
        });

        $("#registerBtn0101").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");
            const userIdVal = userId.val();
            const passwordVal = password.val();

            const userObject = {
                userId: userIdVal,
                password: passwordVal
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register01/hongkd",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                }
            });
        });

        $("#registerBtn02").on("click", function () {
            const userObjectArray = [
                {
                    userId: "name01",
                    password: "pw01"
                },
                {
                    userId: "name02",
                    password: "pw02"
                }
            ];

            $.ajax({
                type: "POST",
                url: baseUrl + "/register02",
                data: JSON.stringify(userObjectArray),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                }
            });
        });

        $("#registerBtn03").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");

            const userIdVal = userId.val();
            const passwordVal = password.val();

            const userObject = {
                userId: userIdVal,
                password: passwordVal,
                address: {
                    postCode: "010908",
                    location: "seoul"
                }
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register03",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                }
            });
        });

        $("#registerBtn04").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");

            const userIdVal = userId.val();
            const passwordVal = password.val();

            const userObject = {
                userId: userIdVal,
                password: passwordVal,
                cardList: [
                    {
                        no: "23456",
                        validMonth: "2024-09"
                    },
                    {
                        no: "12342",
                        validMonth: "2025-07"
                    }
                ]
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register04",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                }
            });
        });

    });
</script>

<body>
<h1>Register Form </h1>
<form>
    <label for="userId">userId: </label>
    <input type="text" name="userId" value="hongkd" id="userId"><br>
    <label for="password">password: </label>
    <input type="text" name="password" value="1234" id="password"><br>
</form>

<button id="registerBtn01">registerBtn01</button>
<button id="registerBtn0101">registerBtn0101</button>
<button id="registerBtn02">registerBtn02</button>
<button id="registerBtn03">registerBtn03</button>
<button id="registerBtn04">registerBtn04</button>
</body>
</html>
