<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
		<script th:inline="javascript">
			$(function() {
				$("#listBtn").click(function() {
					fetch("/boards", {
						method: "GET",
						headers: {
							"Accept": "application/json"
						}
					})
					.then(response => {
						if(!response.ok) {
							throw new Error("네트워크 응답이 올바르지 않습니다.");
						}
						return response.json();
					})
					.then(data => {
						console.log(data);
						alert("목록 가져오기 성공");
					})
					.catch(error => {
						console.log("오류 발생: ", error);
						alert("목록 가져오기 오류 발생");
					});
				});
				$("#readBtn").click(function() {
					fetch("/boards/"+$("#id").val(), {
						method: "GET",
						headers: {
							"Accept": "application/json"
						}
					})
					.then(response => {
						if(!response.ok) {
							throw new Error("네트워크 응답 오류");	
						}
						return response.json();
					})
					.then(data => {
						console.log(data);
						alert("게시글 가져오기 성공");
					})
					.catch(error => {
						console.log("오류 발생: ", error);
						alert("게시글 가져오기 실패");
					});
				});
				$("#addBtn").click(function() {
					const board = {
						title: $("#title").val(),
						content: $("#content").val(),
						writer: $("#writer").val()
					}
					fetch("/boards", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						body: JSON.stringify(board)
					// body는 {"title":"hong"}
					})
					.then(response => {
						if(!response.ok) {
							throw new Error("네트워크 응답 오류");	
						}
						return response.json();
					})
					.then(data => {
						console.log(data);
						console.log(data);
						alert(data.message);
					})
					.catch(error => {
						console.log("오류 발생: ", error);
						alert("게시글 가져오기 실패");
					});
				});
			});
		</script>
	</head>
	<body>
		
		<form>
			<label for="id">id: </label>
			<input type="text" id="id" name="id"/><br>
			<label for="title">title: </label>
			<input type="text" id="title" name="title"/><br>
			<label for="content">content: </label>
			<input type="text" id="content" name="content"/><br>
			<label for="writer">writer: </label>
			<input type="text" id="writer" name="writer"/>
		</form>
		<div>
			<button id="listBtn">List</button><br>
			<button id="readBtn">Read</button><br>
			<button id="addBtn">Register</button><br>
		</div>
	</body>
</html>