<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<script th:src="@{/js/jquery.min.js}"></script>

<script type="text/javascript">
    function formatDateForInput(date) {
        let d = date || new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function formatDateString(dateString) {
        // 입력된 날짜 문자열을 '/'로 분리
        const parts = dateString.split('-');

        // 년, 월, 일을 추출
        const year = parts[0];
        const month = addLeadingZero(parts[1]);
        const day = addLeadingZero(parts[2]);

        // yyyyMMdd 형식으로 조합
        return `${year}${month}${day}`;
    }

    // 한 자리 숫자 앞에 0을 추가하는 보조 함수
    function addLeadingZero(num) {
        return num.length < 2 ? "0" + num : num;
    }

    $(function () {
        const baseUrl = "http://localhost:8080/members";

        // 날짜의 기본값을 오늘로 설정
        const today = formatDateForInput(new Date());
        $("#dateOfBirth").val(today);

        $("#registerBtn01").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");
            const userIdVal = userId.val();
            const passwordVal = password.val();

            const dateOfBirthVal = "2024/09/08";

            const userObject = {
                userId: userIdVal,
                password: passwordVal,
                dateOfBirth: dateOfBirthVal
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                },
                error: function (xhr, status, error) {
                    alert("code:" + xhr.status + "\n"
                        + "message:" + xhr.responseText + "\n"
                        + "error:" + error);
                }
            });
        });

        $("#registerBtn02").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");
            const userIdVal = userId.val();
            const passwordVal = password.val();

            const dateOfBirthVal = "20240908";

            const userObject = {
                userId: userIdVal,
                password: passwordVal,
                dateOfBirth: dateOfBirthVal
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                },
                error: function (xhr, status, error) {
                    alert("code:" + xhr.status + "\n"
                        + "message:" + xhr.responseText + "\n"
                        + "error:" + error);
                }
            });
        });

        $("#registerBtn03").on("click", function () {
            const userId = $("#userId");
            const password = $("#password");
            const userIdVal = userId.val();
            const passwordVal = password.val();

            const dateOfBirthVal = "2024-09-08";

            const userObject = {
                userId: userIdVal,
                password: passwordVal,
                dateOfBirth: dateOfBirthVal
            };

            $.ajax({
                type: "POST",
                url: baseUrl + "/register",
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                },
                error: function (xhr, status, error) {
                    alert("code:" + xhr.status + "\n"
                        + "message:" + xhr.responseText + "\n"
                        + "error:" + error);
                }
            });
        });

        $("#readBtn").on("click", function () {
            $.ajax({
                type: "GET",
                url: baseUrl + "/read",
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    console.log(data);

                    alert(JSON.stringify(data));
                },
                error: function (xhr, status, error) {
                    alert("code:" + xhr.status + "\n"
                        + "message:" + xhr.responseText + "\n"
                        + "error:" + error);
                }
            });
        });

        $("#inputFile").on("change", function (event) {

            console.log("change");

            const files = event.target.files;

            const file = files[0];

            console.log(file);

            const formData = new FormData();

            formData.append("file", file);

            $.ajax({
                type: "POST",
                url: baseUrl + "/upload",
                data: formData,
                dataType: 'text',
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data);
                }
            });
        });

        $("#registerBtn").on("click", function () {
            const userId01 = $("#userId");
            const password01 = $("#password");
            const userName = $("#userName");
            const email = $("#email");
            const dateOfBirth = $("#dateOfBirth");

            const userId01Val = userId01.val();
            const password01Val = password01.val();
            const userNameVal = userName.val();
            const emailVal = email.val();
            // 날짜형식을 yyyy-MM-dd에서 yyyyMMdd로 변경 - 유효성 검사에 지정된 pattern에 맞춤
            const dateOfBirthVal = formatDateString(dateOfBirth.val());

            const genderVal = $('input[name="gender"]:checked').val();

            console.log(genderVal);
            console.log(userId01);

            const userObject = {
                userId: userId01Val,
                password: password01Val,
                userName: userNameVal,
                email: emailVal,
                dateOfBirth: dateOfBirthVal,
                gender: genderVal
            };

            $.ajax({
                type: "POST",
                url: baseUrl,
                data: JSON.stringify(userObject),
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    console.log("result: " + result);

                    alert(result);
                },
                error: function (xhr, status, error) {
                    alert("code:" + xhr.status + "\n"
                        + "message:" + xhr.responseText + "\n"
                        + "error:" + error);
                }
            });
        });
    });
</script>

<body>
<h1>Register Form </h1>
<div>
    <label for="userId">userId: </label>
    <input type="text" name="userId" value="hongkd" id="userId"><br>
    <br>
    <label for="password">password: </label>
    <input type="text" name="password" value="1234" id="password"><br>
    <br>
    <input type="file" id="inputFile">
    <br>
    <label for="userName">userName: </label>
    <input type="text" name="userName" value="홍길동" id="userName"><br>
    <br>
    <label for="email">email: </label>
    <input type="text" name="email" value="hong@a.com" id="email"><br>
    <br>
    <label for="dateOfBirth">dateOfBirth: </label>
    <input id="dateOfBirth" name="dateOfBirth" type="date" value=""/><br>
    <div>
        <div>성별</div>
        <input id="gender1" name="gender" type="radio" value="male"/>
        <label for="gender1">Male</label> <br>
        <input id="gender2" name="gender" type="radio" value="female"/>
        <label for="gender2">Female</label> <br>
        <input id="gender3" name="gender" type="radio" value="other"/>
        <label for="gender3">Other</label>
    </div>
</div>

<button id="registerBtn01">register(yyyy/MM/dd)</button>
<button id="registerBtn02">register(yyyyMMdd)</button>
<button id="registerBtn03">register(yyyy-MM-dd)</button>
<button id="readBtn">read</button>
<button id="registerBtn">register</button>
</body>
</html>
