<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script th:src="@{/js/jquery.min.js}"></script>

<script type="text/javascript">
$(function() {
	const baseUrl = "http://localhost:8080/members";
	$("#registerBtn01").on("click", function() {
		const userId = $("#userId");
		const password = $("#password");
		const userIdVal = userId.val();
		const passwordVal = password.val();
		 
		const dateOfBirthVal = "2024/09/08";
		 
		const userObject = {
			userId:userIdVal,
			password:passwordVal,
			dateOfBirth:dateOfBirthVal
		};
		
		$.ajax({
			type : "POST",
			url : baseUrl + "/register",
			data: JSON.stringify(userObject),
			contentType : "application/json; charset=UTF-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});
	
	$("#registerBtn02").on("click", function() {
		const userId = $("#userId");
		const password = $("#password");
		const userIdVal = userId.val();
		const passwordVal = password.val();
		 
		const dateOfBirthVal = "20240908";
		 
		const userObject = {
			userId:userIdVal,
			password:passwordVal,
			dateOfBirth:dateOfBirthVal
		};
		
		$.ajax({
			type : "POST",
			url : baseUrl + "/register",
			data: JSON.stringify(userObject),
			contentType : "application/json; charset=UTF-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});
	
	$("#registerBtn03").on("click", function() {
		const userId = $("#userId");
		const password = $("#password");
		const userIdVal = userId.val();
		const passwordVal = password.val();
		 
		const dateOfBirthVal = "2024-09-08";
		 
		const userObject = {
			userId:userIdVal,
			password:passwordVal,
			dateOfBirth:dateOfBirthVal
		};
		
		$.ajax({
			type : "POST",
			url : baseUrl + "/register",
			data: JSON.stringify(userObject),
			contentType : "application/json; charset=UTF-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});
	
	$("#readBtn").on("click", function() {
		$.ajax({
			type : "GET",
			url : baseUrl + "/read",
			contentType : "application/json; charset=UTF-8",
			success : function(data) {
				console.log(data);
				
				alert(JSON.stringify(data));
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});
	
});
</script>

<body>
	<h1>Register Form </h1>
	<form>
		<label for="userId">userId: </label>
		<input type="text" name="userId" value="hongkd" id="userId"><br>
		<label for="password">password: </label>
		<input type="text" name="password" value="1234" id="password"><br>
	</form>
	
	<button id="registerBtn01">register(yyyy/MM/dd)</button>
	<button id="registerBtn02">register(yyyyMMdd)</button>
	<button id="registerBtn03">register(yyyy-MM-dd)</button>
	<button id="readBtn">read</button>
</body>
</html>
