<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script th:src="@{/js/jquery.min.js}"></script>

<script type="text/javascript">
$(function() {
	const baseUrl = "http://localhost:8080/test";	
	$("#registerBtn").on("click", function () {
        const userNameVal = $("#userName").val();
        const userObject = {
            userName: userNameVal
        };
        $.ajax({
            type: "POST",
            url: baseUrl,
            data: JSON.stringify(userObject),
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                console.log("result: " + result);
                alert(result);
            },
            error: function (xhr, status, error) {
                alert("code:" + xhr.status + "\n"
                    + "message:" + xhr.responseText + "\n"
                    + "error:" + error);
            }
        });
    });
});
</script>

<body>
	<h1>Register Form </h1>
	<div>
    <label for="userName">userName: </label>
    <input type="text" name="userName" id="userName"><br>
</div>
	<button id="registerBtn">register</button>
</body>
</html>
